# System files
.DS_Store
.VSCode
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Build Artifacts
build/
dist/
*.spec

# Datasets and Reports (Privacy/Large files)
reports/
*.pdf
*.docx
*.doc
*.txt
*.xlsx
*.csv

# Images
*.png
*.jpg
*.jpeg
